* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* BANNER */
.banner {
  position: relative;
  height: 500px;
  margin: 0px;
}

.banner-bg {
  width: 100%;
  height: 100%;
  margin: 0px;
  
}
/* Food Navbar */
.food-navbar {
  background-color: #f59e0b; /* orange */
  padding: 15px 0;
}

.food-navbar ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 40px;
}

.food-navbar a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s;
}

.food-navbar a:hover {
  color: white;
}

/* Search Bar */
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0;
  position: relative;
}



.search-container input {
  width: 60%;
  padding: 15px 20px;
  border: 2px solid #f59e0b;
  border-radius: 50px;
  outline: none;
  font-size: 16px;
  color: #555;
}

.search-btn {
  position: absolute;
  right: 20%;
  background-color: #f59e0b;
  border: none;
  color: white;
  font-size: 20px;
  padding: 12px 18px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.search-btn:hover {
  background-color: #ff7a00;
}
